html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    color: white;
    font-weight: 1000;
    font-family: 'Hanken Grotesk';font-size: 22px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 410px;
    width: 300px;
    background: linear-gradient(to bottom, hsla(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 50px;
}
.summary{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: black;
    font-size: 20px;
    height: 450px;
    width: 450px;
}
.attribution{
    display: flex;
    justify-self: center;
    align-items: center;
}
#score{
    margin-left: 100px;
}
#topinfo, section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    padding-top: 25px;
}
#circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
#great{
    margin-bottom: 20px;
}
#reaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.03);
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
}
#memory{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, .03);
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
}
#verbal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, .03);
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
}
#visual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, .03);
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom, hsla(252, 100%, 67%), hsl(241, 81%, 54%));
    border: none;
    outline: none;
    margin-top: 5%;
    border-radius: 30px;
    height: 70px;
    width: 355px;
}


